<section id="company-info">
  <h2 id="company-name">{{ .Title }}</h2>
  <div id="company-preview" class="img-container">
    <div id="img-container-parent">
      <div id="img-container-child">
        <div>
          <img src="{{.Site.BaseURL}}img/{{ .Params.cover }}">
          <div class="shadow"></div>
        </div>
      </div>
    </div>
  </div>
  <nav id="company-links">
    <ul>
      <li><a href="{{ .Params.site }}">Company Homepage</a></li>
      <li><a href="{{ .Params.careers }}">Company Careers Site</a></li>
    </ul>
  </nav>
</section>