#banner {
  background-color: #ACECA1;
  text-align: center;
  min-height: 80px;
  height: 10vh;
  padding-top: 30px;

  a {
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
}

#header-nav {
  width: 100%;
  border-bottom: 1px solid;

  ul {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    line-height: 50px;
    list-style-type: none;
    padding: 0;

    li {
      flex: 1;
      text-align: center;
    }

    li:nth-child(1) {
      border-right: 1px solid #426B69;
    }

    li:hover {
      border-bottom: 5px solid #8bc34a;
    }

    li a {
      display: block;
      text-decoration: none;
      color: #000;
    }
  }
}